/* Sahib Singh 8846566 */

body, h1, h2, p, blockquote, footer {
    margin: 0;
    padding: 0;
}

/*body {
    background-color: #000; /* Set background color to black }*/


html {
    font: 20px/1.5 Arial, sans-serif;
    color: #FAF7FF;
}

h1, h2 {
    font-variant: small-caps;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1rem; /* Relative font size */
}

q {
    font-style: italic;
    font-family: cursive;
}

footer p {
    font-size: 0.8rem; /* Relative font size */
}


body {
    width: 80%; 
    max-width: 1200px; /* Absolute width */
    margin: 0 auto; /* Center align */
    padding: 20px; /* Padding on all sides */
}

.main-section {
    text-align: center; /* Center align text */
    padding:20px; /* Padding on all sides */
}

#bio {
    text-align: left; /* Align text to the left */
}

/* Apply borders and box shadows */
header, footer {
    border: 1px solid #F9F871; /* Black border */
    box-shadow: 2px 2px 5px #888; /* Box shadow */
    text-align: center; /* Align text to the center */
}

.main-section-figure {
    border: 1px solid #F9F871; /* Black border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 2px 5px #888; /* Box shadow */
    margin: 10px auto; /* Center align */
}

/* Apply styles to the figure element */
figure {
    display: inline-block; /* Set display to inline-block */
    border: 1px solid #F9F871; /* Add border to the figure */
    padding: 20px; /* Add padding for spacing between image and border */
    margin: 0; /* Remove default margins */
}


/* Apply color */
figcaption#absolute-path-image {
    color: #ff0000; /* Red font color */
}

figcaption#relative-path-image {
    color: #00ff00; /* Green font color */
}

h1, h2 {
    color: navy; /* Named color */
}

/* Background */
header, footer {
    background: linear-gradient(to bottom, #fff, #8685EF); /* Gradient background */
}

.main-section {
    background-color: #151515;
}

#absolute-path-image {
    background-color: hsla(240, 100%, 50%, 0.3); /* HSLA background color */
}

#relative-path-image {
    background-color: hsla(240, 100%, 50%, 0.3); /* HSLA background color */
}

#media{
    width: 60%; height: 60%;
}

